import * as React from 'react'
import { render } from '@testing-library/react'
import {{ properCase name }} from './{{ properCase name }}'

describe('{{ properCase name }}', () => {
  const children = 'test'

  it('SHOULD render correctly', () => {
    const component = render(<{{ properCase name }}>{children}</{{ properCase name }}>)

    expect(component).toBeTruthy()
  })
})
