import * as React from 'react';
import { {{ properCase name }}Container } from './{{ properCase name }}.styles';

export type {{ properCase name }}Props = {
  children: React.ReactNode
}

const {{ properCase name }}: React.FC<{{ properCase name }}Props> = ({ children }: {{ properCase name }}Props) => (
  <{{ properCase name }}Container>
    {children}
  </{{ properCase name }}Container>
)

export default {{ properCase name }}
