import * as React from 'react'
import { {{ properCase name }}Container } from './{{ properCase name }}.styles'

export type {{ properCase name }}Props = {
  children: React.ReactNode
}

const {{ properCase name }}: React.FC<{{ properCase name }}Props> = ({ children }: {{ properCase name }}Props) => {
  const [name] = React.useState('')

  return (
    <{{ properCase name }}Container>
      <div>{children}</div>
      <span>{name}</span>
    </{{ properCase name }}Container>
  )
}

export default {{ properCase name }}
